<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<body>

	<div class="container">
		<%= yield %>
	</div>

	<script type="text/template" id="row-Template">
		<td>{{ level }}</td>
		<td>{{ name }}</td>
		<td>{{ pages }}</td>
		<td><form id="add-new" class="input-append">
			<input type="text" class="input-small add-pgs"/>
			<input type="submit" class="btn btn-success" value="+"/>
		</form></td>
	</script>

	<%= javascript_include_tag "application" %>
</body>
</html>
