<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<body>

	<div class="container">
		<div class="row-fluid">
 			<div class="span12">
			<%= yield %>
 			</div>
		</div>
	</div>

	<%= javascript_include_tag "application" %>
</body>
</html>
